* {
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
}
.container {
    overflow: hidden;
}
.section {
    border: 1px solid black;
    background-color: lightgray;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;
    float: left;
    position: relative;
    height: auto;
    margin: 10px;

}

.title {

    width: 30%;
    padding-top: 0px;
    border: 1px solid black;
    text-align: center;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chicken {
    background-color: rgb(128, 0, 51);
    color: black;
}

.beef {
    background-color: rgb(255, 0, 68);
    color: white;
}

.shushi {
    background-color: rgb(208, 255, 0);
    color: black;
}


@media (min-width: 992px) {
    .section {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 20px);
    }
    .section:nth-child(4) {
        width: calc(100% - 20px); /* 3rd section full width */
    }
}

@media (max-width: 767px){
    .section {
        width: calc(100% - 20px);
    }
}
